/*Note: There are three different ways to add background colors here.
You can add them using a name (for common names), Hex, or RGB values.
*/

body {
  background-color: gray;
}

#div-1 {
  border: 1px solid black;
  background-color: purple;
  position: absolute;
  top:0px;
  left:0px;
  width:5em;
  height:5em;
}
#div-2 {
  background-color: #09CDA1;
  position: absolute;
  top:10em;
  margin-left:20%;
  width:5em;
  height:5em;

}
#div-3 {
  background-color: #69D2E7;
   position: absolute;
  top:20em;
  margin-left: 40%;
  width:5em;
  height:5em;
}
#div-4 {
  background-color: rgb(205,163,205);
   position: absolute;
  top:30em;
  margin-left:60%;
  width:5em;
  height:5em;
}

.h_line {
width:100%;
height:1px;
background: #fff
}