
/*What is important to know when linking an external file (like a stylesheet) to an HTML file?
Understanding relative path when the files are in different directories is important.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
My pair and I found it tedious to get the placement of the right column of links correct, and felt like we spent a lot more time than we should have on that task without guidance. Everything else was straightforward.

What CSS did you use to modify the element style (like size, color, etc.)
We used font-size:x% to modify relative font sizes for whole sections, and we further used padding variables to emulate a table layout with our unordered list items.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
We used HTML div classes to define groupings of elements globally throughout the site, as many different sections of the page required similar or the same formatting.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
Certainly Buffet's site had more complex code with its table design and nested unordered lists to acheive a relatively simple, bland, but fluid site. Our code was many lines shorter and ended up looking and performing the same through the use of CSS.
*/


body {
  color: #000080;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

html {
  background-color: #ffffff;
}

.left-column {
  position: static;
  display: block;
  width: 50%;
}

.right-column {
  position: absolute;
  display: block;
  clear: right;
  top: 110px;
  left: 48%;
}

.subtext {
  font-size: 70%;
}

ul {
 padding-left: 15%;
 padding-right: 0%;
}

ul li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.geico {
  position: relative;
  text-align: center;
  font-size: 70%;
}

.disclaimer{
  position: relative;
  font-size: 80%;
}

.bh:first-letter {
font-size: 140%;
}

.letterhead {
  position: relative;
  text-align: center;
  font-weight: bold;
}